[Unit]
Description=Eink
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/weatherboard
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
