[Unit]
Description=WeatherStation
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/weatherstation/station
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
